<!DOCTYPE html>
<html>
  <head>
    <title>y</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>index</h1>

    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
    <a href="/post">Post</a>
    <a href="/user">Account</a>

    
  </body>
</html>
