<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>index</h1>

    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
    <a href="/post">Post</a>
    <a href="/user">Account</a>


    <form method="POST" action="/auth/register">

      <div class="field">
        <label>Email</label>
        <input name="email" required></textarea>
      </div>

      <div class="field">
        <label>Password</label>
        <input type="password" name="password" required></textarea>
      </div>
    
      <div class="field">
        <label>Confirm Password</label>
        <input type="password" name="confirm_password" required></textarea>
      </div>

      <div class="field">
        <button class="btn">Submit</button>
    </div>
    
    </form>
  </body>
</html>
