<!DOCTYPE html>
<html>
    <head>
        <% include ../layout/meta %>
    </head>

    <body>
        <% include ../layout/header %>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6 col-md-8">
                    <h1>Add post</h1>

                    <% if (alert.success) {%>
                        <div class="alert alert-success">
                            <%= alert.success %>
                        </div>
                        <%}%>
                        <% if (alert.error) {%>
                            <div class="alert alert-danger">
                                <%= alert.error %>
                            </div>
                        <%}%>

                    <hr>

                    <form method="POST" action="/post/create" enctype="multipart/form-data">
                        <fieldset>
                            <div class="form-group row">
                                <label for="pets_name" class="col-sm-3 col-form-label">Status</label>
                                <div class="col-sm-9 my-auto">
                                    <select class="form-control" name="found">
                                        <option>Lost</option>
                                        <option>Found</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>

                        <hr>

                        <fieldset>
                            <div class="form-group row">
                                <label for="pets_name" class="col-sm-3 col-form-label">Specie</label>
                                <div class="col-sm-9 my-auto">
                                    <select class="form-control" name="tags">
                                        <option>Dog</option>
                                        <option>Cat</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="pet_picture" class="col-sm-3 col-form-label">Picture</label>
                                <input type="file" accept="image/*" name="thumbnail">
                                <!--
                                A corriger, ne fonctionne pas 
                                
                                <div class="col-sm-9 my-auto">
                                    <div class="custom-file">
                                        
                                        
                                        <input type="file" class="custom-file-input" id="pet_picture" accept="image/*" name="thumbnail">
                                        <label class="custom-file-label" for="pet_picture">Choose file</label>
                                    </div>
                                </div>
                                -->
                            </div>

                            <div class="form-group row">
                                <label for="pet_name" class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9 my-auto">
                                    <input type="text" class="form-control" id="pet_name" name="petname" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="pet_description" class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-9 my-auto">
                                    <textarea class="form-control" id="pet_description" name="description" rows="6"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="location" class="col-sm-3 col-form-label">Last seen (location)</label>
                                <div class="col-sm-9 my-auto">
                                    <input type="text" class="form-control" id="location" name="location" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="date" class="col-sm-3 col-form-label">Last seen (date)</label>
                                <div class="col-sm-9 my-auto">
                                    <input type="date" class="form-control" id="date" name="date_lost" required>
                                </div>
                            </div>
                        </fieldset>

                        <hr>

                        <div class="form-group row">
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- For the location autocomplete-->
        <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
        <script>
            var placesAutocomplete = places({
                appId: 'ALGOLIA_APP_ID_KEY',
                apiKey: 'ALGOLIA_API_KEY',
                container: document.querySelector('#location'),
            });
        </script>
    </body>
</html>
