<!DOCTYPE html>
<html>
    <head>
        <% include ../layout/meta %>
    </head>

    <body>
        <% include ../layout/header %>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6 col-md-8">
                    <h1>Edit phone number</h1>

                    <hr>

                    <form method="POST" action="#">
                        <div class="form-group row">
                            <label for="phone_number" class="col-sm-3 col-form-label">Phone number</label>
                            <div class="col-sm-9 my-auto">
                                <input type="text" class="form-control" id="phone_number" required>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group row">
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  </body>
</html>
